/* 장바구니 토글 */
.xans-order-basketpackage .ec-base-fold { margin:20px 0 0; }
.xans-order-basketpackage .ec-base-fold.theme1 > .title { margin-bottom:0; background: none;}
.xans-order-basketpackage .ec-base-fold.theme1 > .contents { background:none; }
.xans-order-basketpackage .ec-base-fold.theme3 { margin-top:0; border-width:0 0 1px; }

.xans-order-basketpackage .mileage {display: none;}
.xans-order-basketpackage img {width: auto !important;}
.xans-order-basketpackage .ec-base-prdInfo .description .prdName b,
.xans-order-basketpackage .ec-base-prdInfo .description .prdName a {font-weight: 400;}
.xans-order-basketpackage .ec-base-prdInfo .description .info li {font-size: var(--small-font);}
.xans-order-basketpackage .ec-base-prdInfo .option > li .optionDesc {font-size: var(--small-font);}
.xans-order-basketpackage .ec-base-prdInfo .prdFoot .gLeft {font-size: var(--small-font); font-weight: 400;}
.xans-order-basketpackage .ec-base-prdInfo .prdFoot .gLeft strong {font-weight: 400;}
.xans-order-basketpackage .ec-base-prdInfo .thumbnail {overflow: auto; width: auto; height: auto; border: none;}
.xans-order-basketpackage [class*="btn"].mini {height: 30px; line-height: 30px; font-size: var(--small-font);}
.xans-order-basketpackage .ec-base-fold.theme3 .contents {font-size: var(--small-font);}
.xans-order-basketpackage .ec-base-fold.theme3 .contents * {font-weight: 400;}

.xans-order-basketpackage .ec-base-tab li.selected span:before {display: none;}

/* 국내배송/해외배송 탭 */
.xans-order-basketpackage .ec-base-tab { margin:0 -7px; }
.xans-order-basketpackage .ec-base-tab ul { border-top:1px solid #ececec; border-bottom:1px solid #ececec; }
.xans-order-basketpackage .ec-base-tab li { background:#fff; }
.xans-order-basketpackage .ec-base-tab li:last-child a {border-right:0 !important;}
.xans-order-basketpackage .ec-base-tab li.selected a { border:1px solid #222; border-bottom-color:#fff;}

/* 상품정보 */
.xans-order-basketpackage { margin:7px 7px 0; padding:0 0 10px; }
.xans-order-basketpackage .xans-order-empty { padding:30px 0; color:#212530; font-size:var(--small-font); text-align:center; }
.xans-order-basketpackage .title.subTitle { display:block; padding:0; }
.xans-order-basketpackage .title.subTitle:after { display:none; }
.xans-order-basketpackage .title.subTitle h3 { display:block; padding:0 0 0 14px; line-height:43px; font-size:13px; border-bottom:1px solid #d5d5d5; color:#484848; background-color:#f0f0f0; }

/* 옵션변경 레이어 */
.xans-order-basketpackage .ec-base-fold .ec-base-prdInfo { padding-bottom:10px; border-bottom:1px solid #d5d5d5; }
.xans-order-basketpackage .ec-base-fold .ec-base-prdInfo .option > li { position:relative; }
.xans-order-basketpackage .ec-base-fold .ec-base-prdInfo .option > li .name { display:block; margin: 10px 0;} /* flex �댁젣 */
.xans-order-basketpackage .ec-base-fold .ec-base-prdInfo .option > li .btnBasic { position:absolute; right:0; top:10px; }
.xans-order-basketpackage .ec-base-fold .ec-base-prdInfo .prdFoot { margin:0; padding:14px 0 7px; border-top:1px solid #ececec; font-weight:normal; color: #1b1b1b; background:#fff; }

/* 배송비/합계 금액 */
.xans-order-basketpackage .ec-base-fold.theme3 span.sale { font-size:13px; margin-top: 5px;}
.xans-order-basketpackage .ec-base-fold.theme3 span { font-size:13px; }

/* 선택상품 제어버튼 */
.xans-order-selectorder.ec-base-button.typeMulti { padding:7px 14px; }

/* 결제금액 관련 */
.xans-order-basketpackage .totalSummary { margin:7px 0 0; border: 1px solid var(--line-color);}
.xans-order-basketpackage .totalSummary  + .ec-base-fold.theme1 { margin-top:7px; }
.xans-order-basketpackage .totalSummary .ec-base-fold.theme2 { margin:0; border:0; }
.xans-order-basketpackage .ec-base-fold.theme2 > .contents .ec-base-table td { padding-right:34px; }
.xans-order-basketpackage .totalSummary .ec-base-fold > .contents .ec-base-table { border:1px solid #d5d5d5; border-width:0 1px 1px; }
.xans-order-basketpackage .totalSummary .total { overflow:hidden; padding:14px 0 14px 14px; font-size:var(--small-font);}
.xans-order-basketpackage .totalSummary .paymentPrice { float:right; padding:0 36px 0 0; text-align:right; }
.xans-order-basketpackage .totalSummary .paymentPrice strong,
.xans-order-basketpackage .totalSummary .paymentPrice span { display:inline-block; word-break:break-all; }
.xans-order-basketpackage .totalSummary .title { overflow:hidden; padding:14px 34px 14px 14px; border-top:0;}
.xans-order-basketpackage .totalSummary .title h3 { float:left; font-size:13px; font-weight:normal; color:#484848; }
.xans-order-basketpackage .totalSummary .title span { word-break:break-all; }
.xans-order-basketpackage .totalSummary .title p,
.xans-order-basketpackage .totalSummary .title.shipping > div { float:right; font-size:var(--small-font); color:#000; text-align:right; }
.xans-order-basketpackage .totalSummary .title p .refer,
.xans-order-basketpackage .totalSummary .title div .refer { display:inline-block; font-size:12px; word-break:break-all; }
.xans-order-basketpackage .totalSummary .title:after { content:""; display:block; clear:both; }
.xans-order-basketpackage .totalSummary .title.shipping { overflow:visible; }
.xans-order-basketpackage .totalSummary .title .shippingArea { margin:7px 0 0; font-size:12px; }
.xans-order-basketpackage .totalSummary .shippingFee .title { padding:0 20px 0 0; border:0;}
.xans-order-basketpackage .totalSummary .ec-base-fold.theme2 > .title {background: none;}
#NaverChk_Button { margin:14px 0 0; }


.xans-order-basketpackage .price span {text-decoration-color: var(--sec-font-color);}
.xans-order-basketpackage .price span strong {color: var(--sec-font-color); font-weight: 400;}
.xans-order-basketpackage .price {display: flex; flex-direction: column;}

#product_sale_price_front0,
#product_sale_price_front1,
#product_sale_price_front2,
#product_sale_price_front3,
#product_sale_price_front4,
#product_sale_price_front5,
#product_sale_price_front6,
#product_sale_price_front7,
#product_sale_price_front8,
#product_sale_price_front9,
#product_sale_price_front10,
#product_sale_price_front11,
#product_sale_price_front12,
#product_sale_price_front13,
#product_sale_price_front14,
#product_sale_price_front15,
#product_sale_price_front16,
#product_sale_price_front17,
#product_sale_price_front18,
#product_sale_price_front19,
#product_sale_price_front20,
#product_sale_price_front21,
#product_sale_price_front22,
#product_sale_price_front23,
#product_sale_price_front24,
#product_sale_price_front25,
#product_sale_price_front26,
#product_sale_price_front27,
#product_sale_price_front28,
#product_sale_price_front29,
#product_sale_price_front30,
#product_sale_price_front31 {color: #000; font-weight: var(--bold-font);}