.xans-member-updateeventlogon {
    overflow: hidden;
    margin: 14px 7px 10px;
    padding: 10px 10px;
    line-height: 1.5;
    font-size: var(--small-font);
}

.xans-member-updateeventlogon .title,
.xans-member-updateeventlogon ul li {
    color: var(--sec-font-color);
    font-weight: 300;
}