            <header id="header">
                <div class="header">
                    <section id="topArea">
                        <div class="searchWrap">
                            <h1 module="Layout_LogoTop"><a href="/"><img src="/web/img/22_mcn_renewal_img/main/mobile_logo.png" alt=""></a></h1>
                            
                            <div class="headerUserIcon">
                                <p class="search"><button type="button"><i class="xi-search"></i></button></p> 
                                <p class="category">
                                    <div class="fold">
                                        <div class="toggleBtn">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </section>
                    <!--@import(/layout/basic/search.html)-->
                </div>
            </header>

            <div class="bot-tab-menu">
                <div class="icon-btn">
                  <div class="ham-btn">
                      <i class="xi-bars"></i>
                      <span>메뉴</span>
                  </div>
                  <div class="product-btn">
                    <a href="/product/recent_view_product.html">
                      <i class="xi-eye-o"></i>
                      <span>최근본상품</span>
                    </a>
                  </div>
                  <a href="#">
                      <div class="logo-btn" style="display: flex;">
                          <img src="/web/img/main/bottom-tab.jpg" alt="">
                      </div>
                  </a>
                  <div class="mypage-btn">
                    <a href="/myshop/index.html">
                      <i class="xi-user-o"></i>
                      <span>마이페이지</span>
                    </a>
                  </div>
                  <div class="basket-btn">
                    <a href="/order/basket.html">
                      <i class="xi-cart-o"></i>
                        <span>장바구니</span>
                    </a>
                  </div>
                </div>
            </div>

            <div class="popup-overlay"></div>

            <div class="main_popup">
                <div class="btn_wrap">
                    <button class="btn_today_close"><p>x</p>오늘 하루 보지 않기</button>
                    <button class="btn_close">닫기</button>
                </div>
                <div class="main_popup_slider">
                    <div>
                        <a href="/category/%EB%A7%A4%EC%89%AC%EB%A7%88%EC%8A%A4%ED%81%AC/235/">
                            <div class="popUpImgWrap">
                                <div class="popUpImgbox">
                                    <img src="/web/img/main/popup_slide01.jpg" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <script>
                
                // 하단 탭 메뉴 이벤트
                $(document).ready(function () {
                    let scrolltop_before = 0;
                    let scrolltop_after = 0;
                    function fn_evt_scroll() {
                        let botTabMenu = $(".bot-tab-menu");
                        scrolltop_after = $(document).scrollTop();

                        if (scrolltop_before > scrolltop_after) {                        
                        botTabMenu.removeClass("fixed");
                        } else {
                        botTabMenu.addClass("fixed");
                        }

                        scrolltop_before = $(document).scrollTop();
                    }
                    $(window).scroll(fn_evt_scroll);
                });
            </script>