<!--@css(/layout/basic/css/slideMenu.css)-->
<!--@js(/layout/basic/js/slide_menu.js)-->

<aside id="aside" module="layout_slidePackage">
    <nav>
        <ul class="firCate">

            <!-- first cate -->
            <li class="firCateList">
                <div class="firCateTit">
                    <p>남성</p>
                </div>

                <!-- second cate -->
                <ul class="secCate">
                    <div class="secCateTit">
                        <p><i class="xi-long-arrow-left"></i>남성</p>
                    </div>
                    <li class="secCateList"><a href="/men.html">MAIN</a></li>
                    <li class="secCateList">
                        <div class="secCateBtn"><a href="/product/list_thumb.html?cate_no=96">세트상품</a></div>

                        <!-- third cate -->
                        <!-- <ul class="thiCateList">
                            <div class="thiCateTit">
                                <p><i class="xi-long-arrow-left"></i>세트상품</p>
                            </div>
                            <li><a href="/product/list_thumb.html?cate_no=96">전체</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=123">겨울세트</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=152">실내로라용</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=165">풀세트</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=122">봄/가을 세트</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=120">여름 세트</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=280">올마운틴용</a></li>
                        </ul> -->
                    </li>


                    <li class="secCateList">
                        <div class="secCateBtn"><a href="/product/list_thumb.html?cate_no=102">상의</a></div>

                        <!-- third cate -->
                        <!-- <ul class="thiCateList">
                            <div class="thiCateTit">
                                <p><i class="xi-long-arrow-left"></i>상의</p>
                            </div>
                            <li><a href="/product/list_thumb.html?cate_no=102">전체</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=112">방풍자켓</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=146">플리스</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=125">바람막이</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=139">질렛</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=115">윈터 져지</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=114">긴팔 져지</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=101">반팔 져지</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=153">올마운틴용</a></li>
                        </ul> -->
                    </li>
                    <li class="secCateList">
                        <div class="secCateBtn"><a href="/product/list_thumb.html?cate_no=46">하의</a></div>

                        <!-- third cate -->
                        <!-- <ul class="thiCateList">
                            <div class="thiCateTit">
                                <p><i class="xi-long-arrow-left"></i>하의</p>
                            </div>
                            <li><a href="/product/list_thumb.html?cate_no=46">전체</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=93">패드 속바지</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=277">NO 패드바지</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=66">겨울 빕 / 패드바지</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=77">9부 빕 / 패드바지</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=85">7부 패드바지</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=65">4부 패드바지</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=130">빕숏</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=107">올마운틴용</a></li>
                        </ul> -->
                    </li>
                    <li class="secCateList">
                        <div class="secCateBtn"><a href="/product/list_thumb.html?cate_no=104">언더레이어</a></div>

                        <!-- third cate -->
                        <!-- <ul class="thiCateList">
                            <div class="thiCateTit">
                                <p><i class="xi-long-arrow-left"></i>언더레이어</p>
                            </div>
                            <li><a href="/product/list_thumb.html?cate_no=104">전체</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=111">오버히트</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=83">드로즈</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=67">레깅스</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=42">사계절용</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=110">여름용</a></li>
                        </ul> -->
                    </li>
                    <li class="secCateList">
                        <div class="secCateBtn">자전거 단체복</div>

                        <!-- third cate -->
                        <ul class="thiCateList">
                            <div class="thiCateTit">
                                <p><i class="xi-long-arrow-left"></i>자전거 단체복</p>
                            </div>
                            <li style="display: block; width: auto;"><a href="https://mcncustom.com/" target="_blank">전체</a></li>
                            <li style="display: block; width: auto;"><a href="https://mcncustom.com/product/list_thumb.html?cate_no=51" target="_blank">단체복 종류</a></li>
                            <li style="display: block; width: auto;"><a href="https://mcncustom.com/product/list_thumb.html?cate_no=55" target="_blank">포트폴리오</a></li>
                            <li style="display: block; width: auto;"><a href="https://mcncustom.com/board/free/list.html?board_no=6" target="_blank">견적문의</a></li>
                        </ul>
                    </li>
                    <li class="secCateList">
                        <div class="secCateBtn">BRANDS</div>

                        <!-- third cate -->
                        <ul class="thiCateList">
                            <div class="thiCateTit">
                                <p><i class="xi-long-arrow-left"></i>BRANDS</p>
                            </div>
                            <li style="display: block; width: auto;"><a href="https://mcnfit.co.kr/" target="_blank">mcn fit</a></li>
                            <li style="display: block; width: auto;"><a href="https://mecenat.co.kr/" target="_blank">mecenat</a></li>
                            <li style="display: block; width: auto;"><a href="https://mcnfishing.com/" target="_blank">mcn fishing</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <!-- first cate -->
            <li class="firCateList">
                <div class="firCateTit">
                    <p>여성</p>
                </div>

                <!-- second cate -->
                <ul class="secCate">
                    <div class="secCateTit">
                        <p><i class="xi-long-arrow-left"></i>여성</p>
                    </div>
                    <li class="secCateList"><a href="/women.html">MAIN</a></li>
                    <li class="secCateList">
                        <div class="secCateBtn"><a href="/product/list_thumb.html?cate_no=141">세트상품</a></div>

                        <!-- third cate -->
                        <!-- <ul class="thiCateList">
                            <div class="thiCateTit">
                                <p><i class="xi-long-arrow-left"></i>세트상품</p>
                            </div>
                            <li><a href="/product/list_thumb.html?cate_no=141">전체</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=128">풀세트</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=121">봄/가을 세트</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=217">여름 세트</a></li>
                        </ul> -->
                    </li>


                    <li class="secCateList">
                        <div class="secCateBtn"><a href="/product/list_thumb.html?cate_no=143">상의</a></div>

                        <!-- third cate -->
                        <!-- <ul class="thiCateList">
                            <div class="thiCateTit">
                                <p><i class="xi-long-arrow-left"></i>상의</p>
                            </div>
                            <li><a href="/product/list_thumb.html?cate_no=143">전체</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=131">방풍자켓</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=134">플리스</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=164">바람막이</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=197">질렛</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=204">긴팔 져지</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=142">반팔 져지</a></li>
                        </ul> -->
                    </li>
                    <li class="secCateList">
                        <div class="secCateBtn"><a href="/product/list_thumb.html?cate_no=144">하의</a></div>

                        <!-- third cate -->
                        <!-- <ul class="thiCateList">
                            <div class="thiCateTit">
                                <p><i class="xi-long-arrow-left"></i>하의</p>
                            </div>
                            <li><a href="/product/list_thumb.html?cate_no=144">전체</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=186">스커트</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=187">9부 패드바지</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=179">7부 패드바지</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=182">4부 패드바지</a></li>
                        </ul> -->
                    </li>
                    <li class="secCateList">
                        <div class="secCateBtn"><a href="/product/list_thumb.html?cate_no=145">언더레이어</a></div>

                        <!-- third cate -->
                        <!-- <ul class="thiCateList">
                            <div class="thiCateTit">
                                <p><i class="xi-long-arrow-left"></i>언더레이어</p>
                            </div>
                            <li><a href="/product/list_thumb.html?cate_no=145">전체</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=184">오버히트</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=180">사계절용</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=181">여름용</a></li>
                        </ul> -->
                    </li>
                    <li class="secCateList">
                        <div class="secCateBtn">자전거 단체복</div>

                        <!-- third cate -->
                        <ul class="thiCateList">
                            <div class="thiCateTit">
                                <p><i class="xi-long-arrow-left"></i>자전거 단체복</p>
                            </div>
                            <li style="display: block; width: auto;"><a href="https://mcncustom.com/" target="_blank">전체</a></li>
                            <li style="display: block; width: auto;"><a href="https://mcncustom.com/product/list_thumb.html?cate_no=51" target="_blank">단체복 종류</a></li>
                            <li style="display: block; width: auto;"><a href="https://mcncustom.com/product/list_thumb.html?cate_no=55" target="_blank">포트폴리오</a></li>
                            <li style="display: block; width: auto;"><a href="https://mcncustom.com/board/free/list.html?board_no=6" target="_blank">견적문의</a></li>
                        </ul>
                    </li>
                    <li class="secCateList">
                        <div class="secCateBtn">BRANDS</div>

                        <!-- third cate -->
                        <ul class="thiCateList">
                            <div class="thiCateTit">
                                <p><i class="xi-long-arrow-left"></i>BRANDS</p>
                            </div>
                            <li style="display: block; width: auto;"><a href="https://mcnfit.co.kr/" target="_blank">mcn fit</a></li>
                            <li style="display: block; width: auto;"><a href="https://mecenat.co.kr/" target="_blank">mecenat</a></li>
                            <li style="display: block; width: auto;"><a href="https://mcnfishing.com/" target="_blank">mcn fishing</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="firCateList">
                <div class="firCateTit">
                    <p>악세사리</p>
                </div>

                <!-- second cate -->
                <ul class="secCate accessories">
                    <div class="secCateTit">
                        <p><i class="xi-long-arrow-left"></i>악세사리</p>
                    </div>
                    <li class="secCateList"><a href="/accessories.html">MAIN</a></li>
                    <li class="secCateList">
                        <div class="secCateBtn"><a href="/product/list_thumb.html?cate_no=240">ETC기획</a></div>
                    </li>


                    <li class="secCateList">
                        <div class="secCateBtn"><a href="/product/list_thumb.html?cate_no=135">모자</a></div>

                        <!-- third cate -->
                        <!-- <ul class="thiCateList">
                            <div class="thiCateTit">
                                <p><i class="xi-long-arrow-left"></i>모자</p>
                            </div>
                            <li><a href="/product/list_thumb.html?cate_no=135">전체</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=246">동계용</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=245">헬멧커버</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=254">캡모자</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=244">스컬캡</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=242">두건</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=243">사이클링캡</a></li>
                        </ul> -->
                    </li>

                    <li class="secCateList">
                        <div class="secCateBtn"><a href="/product/list_thumb.html?cate_no=237">바라클라바</a></div>

                        <!-- third cate -->
                        <!-- <ul class="thiCateList">
                            <div class="thiCateTit">
                                <p><i class="xi-long-arrow-left"></i>바라클라바</p>
                            </div>
                            <li><a href="/product/list_thumb.html?cate_no=237">전체</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=82">동계용</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=196">사계절용</a></li>
                        </ul> -->
                    </li>

                    <li class="secCateList">
                        <div class="secCateBtn"><a href="/product/list_thumb.html?cate_no=95">마스크</a></div>

                        <!-- third cate -->
                        <!-- <ul class="thiCateList">
                            <div class="thiCateTit">
                                <p><i class="xi-long-arrow-left"></i>마스크</p>
                            </div>
                            <li><a href="/product/list_thumb.html?cate_no=95">전체</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=201">동계용</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=235">매쉬마스크</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=203">(키즈 / 소두용)</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=276">카퍼 마스크</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=239">나노 마스크</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=238">멀티 스카프</a></li>
                        </ul> -->
                    </li>

                    <li class="secCateList">
                        <div class="secCateBtn"><a href="/product/list_thumb.html?cate_no=234">헤어밴드</a></div>

                        <!-- third cate -->
                        <!-- <ul class="thiCateList">
                            <div class="thiCateTit">
                                <p><i class="xi-long-arrow-left"></i>헤어밴드</p>
                            </div>
                            <li><a href="/product/list_thumb.html?cate_no=234">전체</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=222">동계용</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=281">사계절용</a></li>
                        </ul> -->
                    </li>

                    <li class="secCateList">
                        <div class="secCateBtn"><a href="/product/list_thumb.html?cate_no=214">장갑</a></div>

                        <!-- third cate -->
                        <!-- <ul class="thiCateList">
                            <div class="thiCateTit">
                                <p><i class="xi-long-arrow-left"></i>장갑</p>
                            </div>
                            <li><a href="/product/list_thumb.html?cate_no=214">전체</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=256">동계용</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=257">사계절용</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=263">여름용</a></li>
                        </ul> -->
                    </li>

                    <li class="secCateList">
                        <div class="secCateBtn"><a href="/product/list_thumb.html?cate_no=233">가방</a></div>
                    </li>

                    <li class="secCateList">
                        <div class="secCateBtn"><a href="/product/list_thumb.html?cate_no=81">삭스</a></div>

                        <!-- third cate -->
                        <!-- <ul class="thiCateList">
                            <div class="thiCateTit">
                                <p><i class="xi-long-arrow-left"></i>삭스</p>
                            </div>
                            <li><a href="/product/list_thumb.html?cate_no=81">전체</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=367">슈즈커버</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=368">토커버</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=369">스포츠양말</a></li>
                        </ul> -->
                    </li>

                    <li class="secCateList">
                        <div class="secCateBtn"><a href="/product/list_thumb.html?cate_no=290">스포츠타올</a></div>
                    </li>

                    <li class="secCateList">
                        <div class="secCateBtn"><a href="/product/list_thumb.html?cate_no=71">토시</a></div>

                        <!-- third cate -->
                        <!-- <ul class="thiCateList">
                            <div class="thiCateTit">
                                <p><i class="xi-long-arrow-left"></i>토시</p>
                            </div>
                            <li><a href="/product/list_thumb.html?cate_no=71">전체</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=91">팔토시</a></li>
                            <li><a href="/product/list_thumb.html?cate_no=90">다리토시</a></li>
                        </ul> -->
                    </li>

                    <li class="secCateList">
                        <div class="secCateBtn"><a href="/product/list_thumb.html?cate_no=137">쿨스카프</a></div>
                    </li>

                    <li class="secCateList" style="text-align: end; margin-left: 41px;">
                        <div class="secCateBtn"><a href="/product/list_thumb.html?cate_no=109">기타</a></div>
                    </li>
                </ul>
            </li>
            
            <li class="firCateList">
                <a href="/board/gallery/list.html?board_no=8"><p>이벤트</p></a>
            </li>

            <!-- <li class="firCateList">
                <a href="/board/index.html"><p>커뮤니티</p></a>
            </li> -->

            <li class="firCateList">
                <div class="firCateTit">
                    <p>커뮤니티</p>
                </div>

                <!-- second cate -->
                <ul class="secCate">
                    <div class="secCateTit">
                        <p><i class="xi-long-arrow-left"></i>뒤로가기</p>
                    </div>
                    <li class="secCateList">
                        <div class="secCateBtn"><a href="/board/free/list.html?board_no=1">공지사항</a></div>
                    </li>
                    <li class="secCateList">
                        <div class="secCateBtn"><a href="/board/news/list.html?board_no=2">엠씨엔뉴스</a></div>
                    </li>
                    <li class="secCateList">
                        <div class="secCateBtn"><a href="/board/product/list.html?board_no=4">상품후기</a></div>
                    </li>
                    <li class="secCateList">
                        <div class="secCateBtn"><a href="/board/frequently/list.html?board_no=3">FAQ</a></div>
                    </li>
                    <li class="secCateList">
                        <div class="secCateBtn"><a href="/board/qna/list.html?board_no=6">문의하기</a></div>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    
    
    
    <div class="cboth slide_section2">
        <div class="line"></div>
        <ul>
            <li>
                <a href="/myshop/index.html">
                    <img src="/web/img/22_mcn_renewal_img/mobile/slide_mypage.png" alt="MYPAGE">MYPAGE
                </a>    
            </li>
            <li class="xans-element- xans-layout xans-layout-orderbasketcount">
                <a href="/order/basket.html">
                    <img src="/web/img/22_mcn_renewal_img/mobile/slide_cart.png" alt="CART">CART
                    <span class="basker_count">(0)</span>
                </a>
            </li>
            <li>
                <a href="/myshop/order/list.html">
                    <img src="/web/img/22_mcn_renewal_img/mobile/slide_order.png" alt="주문조회">ORDER
                </a>
            </li>
            <li>
                <a href="/myshop/wish_list.html">
                    <img src="/web/img/22_mcn_renewal_img/mobile/slide_wish.png" alt="WISH">WISH LIST
                </a>
            </li>
        </ul>
    </div>

    <p module="Layout_stateLogon" class="member">
        <!-- <a href="/myshop/index.html">MY PAGE</a> -->
        <a href="{$action_logout}">LOGOUT</a>
    </p>
    <p module="Layout_stateLogoff" class="member">
        <a href="/myshop/index.html">LOGIN</a>
        <a href="/member/agreement.html">JOIN US</a>
    </p>

    <div class="ham-delete-btn">
        <i class="xi-close"></i>
    </div>
</aside>